.allReviewContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 2rem;
  /* box-shadow: 0 1px 9px 1px; */
  margin-bottom: 1rem;
}

.reviewListAside {
  flex: 4;
}
.reviewCard {
  transition: ease-in-out 400ms;
  border-radius: 2rem;
  background: linear-gradient(to left, #03001c, #301e67);
  margin: 0 0 1rem 1rem;
  padding: 1rem;
  color: white;
  box-shadow: 0px 1px 9px 2px black;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.reviewCard:hover {
  transition: ease-in-out 400ms;
  background-color: #433237;
  scale: calc(1.01);
  cursor: pointer;
}

.strong {
  font-weight: 900;
}

.reviewImg {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.highlight {
  background-color: #563942;
  border-radius: 2rem 2rem 0 0;
  color: rgb(234, 234, 234);
}

.loading {
  text-align: center;
  font-weight: 1000;
}

.indentButton {
  transition: ease-in-out 400ms;
  box-shadow: inset 0px 1px 9px 1px black;
  background-color: #433237;
}

.indentButton:hover {
  transition: ease-in-out 400ms;
  box-shadow: inset 0px 1px 9px 1px black;
  background-color: #433237;
}

.alignItemsCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
